
:root {
  font-family:   Helvetica, Arial, sans-serif;
  /* line-height: 1.5; */
  /* font-weight: 200; */
  /* color-scheme: light dark; */
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

body {

  min-width: 300px;
  min-height: 100vh;
  
}

.logo{
  color: #f9f9f9;
}


.card{ 
  border-radius: 15px;
  box-shadow: rgba(21, 21, 171, 0.2) 0px 7px 29px 0px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}


.card-body{
  display: flex;
  flex-direction: column;
}


.product-title{
  font-family:  Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  padding: 0.8rem 2rem;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  background-color:#21354729 ;
 
}
 .product-title h4{
  font-size: 1.3rem;
}
.product-title p{
 font-size: 1rem;
} 
.product-detail{
  display: flex;
  flex-direction: row;
  padding: 0.5rem 1rem;
  justify-content: space-around;
  
  align-items: center;

}
.btn{
  padding:  0.2rem 0.5rem;
}

.product-detail p  {
  font-size: 0.8rem;
  
  
}
.product-detail p  span{
  font-size: 0.8rem;
  display: flex;


  
}


/*Product detail page*/
.productDetail-body{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;

  h4{
    text-align: left;
  }
  
}
.productDetail-image{
 
  width: 100%;
  
}

.details-info{

  margin: 1rem auto;
  /* display: flex;
  flex-direction: column;
  justify-content: left;  */

  text-align: left;
  margin-top: 2rem;

}
.details-NameStyle{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.details{
  margin-top: 1rem;
}
.product-img{
  border-radius: 15px 15px 0px 0px;

}


a {
  font-weight: 500;
  color: #000000;
  text-decoration: inherit;
}
a:hover {
  color: #601414;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
} */
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
